* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/32px "Microsoft YaHei";
    color: #656565;
    background-color: #f2f2f2;
}

input {
    cursor: pointer;
    user-select: none;
}

i {
    font-style: normal;
}

li {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

